<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>上海米因 | 大数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="上海米因医疗大数据人工智能 米因雾化器 华人医疗健康大数据" />
    <meta name="keywords" content="上海米因医疗大数据人工智能 米因雾化器 华人医疗健康大数据" />
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fullpage.css">

</head>

<body class="index">
<header id="medin-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                <a href="/"><img class="header-img" src="/images/logo.png" alt="图片加载失败" /></a>
            </div>
            <nav role="navigation">
                <ul>
                    <li>
                        <a class="active" href="javascript:;"><%= title %></a>
                    </li>
                    <li>
                        <a href="/equipment">居家医疗设备</a>
                    </li>
                    <li>
                        <a href="/cooperate">合作伙伴</a>
                    </li>
                    <li>
                        <a href="/about">关于我们</a>
                    </li>
                    <li>
                        <a href="/contact">联系我们</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="fullpage">
    <div class="section page-one">
        <div id="medin-intro-section" class="container">
            <div class="medin-desc">Medin is a creative team that love to create healthy future</div>
        </div>
        <div class="medin-banner animate-banner"></div>
    </div>
    <div class="section page-two">
        <div class="container medin-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center medin-heading">
                    <h2><span class="medin-left"></span>米因医疗大数据<span class="medin-right"></span></h2>
                    <p>为大数据时代体检及健康管理机构开创一片全新的商业蓝海！</p>
                </div>
            </div>
            <div class="adapter">
                <div class="row list">
                    <div class="col-xs-4 col-sm-4 col-md-4 services-inner text-center animate-left">
                        <img src="/images/icon_1.png" alt="图片加载失败" />
                        <h3>数据收集</h3>
                        <p class="p-content">
                            米因医疗健康大数据库整合了不同医疗机构，包括不同医院HIS系统、不同体检公司以及各种公共数据来源，前后涵盖了逾 <span class="m">2000万华人</span>、连续15-30年超过<span class="m">10TB</span>不同来源、不同时间点的海量医疗大数据。
                        </p>
                        <i class="iconfont icon-you"></i>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 services-inner text-center animate-center">
                        <img src="/images/icon_2.png" alt="图片加载失败" />
                        <h3>数据分析</h3>
                        <p class="p-content">
                            米因医疗健康大数据库构建了统一标准化数 据库及次级数据库，经过<span class="m">独有</span>的数据挖掘与 分析手段，发展出来一系列面向<span class="m">全人全世代</span>的个人健康风险评估及预测的人工智能计算机引擎。
                        </p>
                        <i class="iconfont icon-you"></i>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 services-inner text-center animate-right">
                        <img src="/images/icon_3.png" alt="图片加载失败" />
                        <h3>产品实现</h3>
                        <p class="p-content">
                            米因大健康云目前推出的第一代产品可应用于<span class="m">20-90岁</span>华人及亚洲人，实时快速进行健康及疾病风险分析，并作出科学预测，为个人定制健康促进、疾病管理方案等提供科学、精准的依据。为实现<span class="m">“早发现，早阻断，早治疗”</span>的医疗追求提供了科学的手段。
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section page-three">
        <div class="container medin-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center medin-heading">
                    <h2><span class="medin-left"></span>米因大数据的领先优势<span class="medin-right"></span></h2>
                    <p>上海米因已将其领先的大健康分析引擎部署到云端，为与大健康、医疗等领域相关的企业和应用提供定制化的云计算接口。</p>
                </div>
            </div>
            <div class="adapter">
                <div class="row list">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        <div class="service-inner">
                            <b></b>
                            <s class="quanqiu"></s>
                            <h4>全球最全面的华人健康大数据库</h4>
                            <p class="p-content">
                                米因医疗健康大数据库整合了不同医疗机构，包括不同医院HIS系统、不同体检公 司以及各种公共数据来源，前后涵盖了逾 2000万华人、连续15-30年超过10TB不 同来源、不同时间点的海量医疗大数据。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        <div class="service-inner animate-a animate-b">
                            <b></b>
                            <s class="zhineng"></s>
                            <h4>人工智能算法</h4>
                            <p class="p-content">
                                全球目前为止，使用人工智能算法最早形成系列的、仅依据少量个人体态指标、生化指标以及问卷的人工智能计算机模型（引擎）。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        <div class="service-inner animate-c animate-d">
                            <b></b>
                            <s class="lingxian"></s>
                            <h4>领先全球</h4>
                            <p class="p-content">
                                全球领先的，标准化建置的数据库及用于不同领域研发目的的次级数据库，整合了不同来源、不同格式、不同时间点的海量医疗健康大数据。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-four">
        <div class="container medin-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center medin-heading">
                    <h2><span class="medin-left"></span>行业优势<span class="medin-right"></span></h2>
                    <p>米因大数据为各行各业提供专业、医疗级的云端分析预测服务</p>
                </div>
            </div>
            <div class="adapter">
                <div class="row menu">
                    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-3 list text-center">
                        <div class="service-inner">
                            <i class="iconfont icon-baoxian"></i>
                            <h3>保险行业</h3>
                            <p class="p-content ellipsis-12">
                                有了米因大数据云计算服务，保险公司将更能针对性的为保险客户设计大病险、寿险、长期照护险等保险产品组合，提供更优惠合适的保险费率，并通过大数据服务实施健康促进，远期降低保险理赔风险， 最终实现保险公司与客户的双赢。反过来，米因云平台也可以为老百姓做专业的风险预测，并为其提供专业的保险产品组合购买建议。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-3 list text-center">
                        <div class="service-inner">
                            <i class="iconfont icon-tijianyuyue"></i>
                            <h3>体检行业</h3>
                            <p class="p-content ellipsis-12">
                                体检将不再代表着繁琐的流程与不痛不痒的红色小箭头，人们可以在商场里逛街休闲的同时，通过简单的几步检测，获得比现有体检更精准、更全面、更深入的健康评估分析。或者在家里将从医院、体检公司获得的体检报告拍照上传到米因云，以获得最专业的风险评估与预测。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-3 list text-center">
                        <div class="service-inner">
                            <i class="iconfont icon-yiliao"></i>
                            <h3>基层医疗行业</h3>
                            <p class="p-content ellipsis-12">
                                中国人口众多，基层全科医生严重不足。米因医疗云将为广大的基层医生提供在线的临床诊断辅助、治疗方案与给药建议、疾病跟踪与管理服务，在有限时间内尽可能的弥补现有基层医疗资源的不足，为海量的基层医疗提供专业服务。
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-3 list text-center">
                        <div class="service-inner">
                            <i class="iconfont icon-yanglao"></i>
                            <h3>养老行业</h3>
                            <p class="p-content ellipsis-12">
                                养老，其实很大部分是长期慢性病的治疗、康复、护理等服务，这些服务的提供将建立在海量的身体、健康数据分析评估上所作出的智能化方案，而米因健康云将为海量的数据访问提供快速专业的云计算服务。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-five">
        <div class="container medin-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center medin-heading">
                    <h2><span class="medin-left"></span>合作伙伴<span class="medin-right"></span></h2>
                    <p>他们都在使用米因医疗大数据，你还在等什么？</p>
                </div>
            </div>
            <div class="adapter">
                <div class="row list">
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_1.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_2.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_3.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_4.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_5.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_6.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_7.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_8.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_9.png" alt="图片加载失败" />
                        </div>
                    </div>
                    <div class="cooperate">
                        <div class="cooperate-img">
                            <img src="/images/cooperate_30.png" alt="图片加载失败" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="medin-footer" role="contentinfo">
            <div class="container">
                <div class="col-md-6 col-sm-6 col-xs-4 ">
                    <div class="medin-follow">
                        <h3>关注我们</h3>
                        <img class="wechat" src="/images/wechat.jpg" alt="图片加载失败" />
                        <p class="medin-scan">打开微信扫一扫</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8 text-left">
                    <h3>联系方式</h3>
                    <ul class="medin-social">
                        <li>
                            <i class="iconfont icon-dianhua"></i> 021-32260399
                        </li>
                        <li>
                            <i class="iconfont icon-youxiang"></i> service@medinhealth.com
                        </li>
                        <li>
                            <i class="iconfont icon-diqiuyi"></i> www.medinhealth.com
                        </li>
                        <li>
                            <i class="iconfont icon-dizhi"></i> 上海市长宁区古北路507号申菱大厦1204室
                        </li>
                    </ul>

                </div>

            </div>
            <div class="medin-copyright text-center">
                <div class="container">
                    Copyright &copy; 2014-2018 上海
                    <a href="http://www.medinhealth.com" target="_blank">米因</a>医疗器械科技有限公司 All Rights Reserved.
                </div>
            </div>
        </footer>
    </div>
    <!--<div class="section">
        <div class="container medin-content">
            <div class="row">
                <div class="col-md-12 text-center medin-title">
                    <h2>创始人</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="blog-inner">
                        <div class="medin-leader"><img class="img-responsive medin-photo" src="images/image_4.jpg" alt="Blog"></div>
                        <div class="desc">
                            <h3><a href="#">New iPhone 6 Released</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="blog-inner">
                        <div class="medin-leader"><img class="img-responsive medin-photo" src="images/image_5.jpg" alt="Blog"></div>
                        <div class="desc">
                            <h3><a href="#">Start your day with a beautiful appearance</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="blog-inner">
                        <div class="medin-leader"><img class="img-responsive medin-photo" src="images/image_6.jpg" alt="Blog"></div>
                        <div class="desc">
                            <h3><a href="#">Bookmarksgrove right</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.waypoints.min.js"></script>
<script src="/javascripts/animatext.js"></script>
<script src="/javascripts/jquery.fullPage.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/index.js"></script>
</body>

</html>